@using iCAN;
@using iCAN.Core.Models;
@using RJP.MultiUrlPicker.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    var siteName = TGDH.Settings<string>("websiteName");
    var copyright = TGDH.Settings<string>("copyrightDisclaimer");

	var logos = TGDH.Settings<IEnumerable<IPublishedContent>>("footerLogos");
}

<footer id="footer" class="c-footer u-spacer" role="contentinfo">
    <div class="c-footer__inner o-section o-wrap o-wrap--x-large u-clearfix">
		<div class="c-footer__col c-footer__col--first">
			@Html.CachedPartial("Components/PrimaryContactDetails", Model, 3600)

			@Html.Partial("Components/SocialChannels", new SocialChannelsViewModel {
				SocialChannels = TGDH.Settings<IEnumerable<IPublishedContent>>("socialChannels"),
				ModifierClass = "c-footer__social"
			})

			@if (logos != null) {
				<div class="c-footer__logos u-clearfix">
					@foreach (var item in logos) {
						var link = item.GetPropertyValue<Link>("link");
						var hasLink = link != null;
						@Html.Partial("~/Views/Partials/Components/LogoViewModel.cshtml", new LogoViewModel {
							Logo = item.GetPropertyValue<IPublishedContent>("logo"),
							ImageWidth = 170,
							Url = hasLink ? link.Url : "",
							Target = hasLink ? link.Target : "",
							CtaName = hasLink ? link.Name : ""
						})
					}
				</div>
			}

		</div>
		<div class="c-footer__col c-footer__col--last">
			@Html.Partial("~/Views/Partials/Components/LatestTweet.cshtml")
		</div>
	</div>

	<div class="c-footer__sub u-clearfix">
		<div class="o-wrap o-wrap--x-large">
			@if (!string.IsNullOrWhiteSpace(copyright))
			{
				<p class="c-footer__copyright">
					@Html.Raw(copyright.Replace("\n", "<br/>"))
				</p>
			}
			@Html.CachedPartial("~/Views/Partials/Components/FooterNavigation.cshtml", Model, 3600)
			<div class="c-footer__tgdh">Creatd by <a href="http://tgdh.co.uk" target="_blank">TGDH</a></div>
		</div>
	</div>
</footer>
