@using iCAN;
@using iCAN.Core.Models;
@using RJP.MultiUrlPicker.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var coverImage = Model.GetPropertyValue<IPublishedContent>("coverImage");
	var selection = Model.Children().Where(x => x.IsVisible());
	var hasCover = coverImage != null;
}

<div class="o-page__inner u-clearfix">
	@{
		var coverLink = Model.GetPropertyValue<Link>("coverLink");
		var hasLink = coverLink != null;
		@Html.Partial("~/Views/Partials/Components/CoverLetterbox.cshtml", new CoverViewModel {
			Image = coverImage,
			Headline = Model.GetPropertyValue<string>("coverHeadline"),
			HeadingLevel = "h1",
			Copy = Model.GetPropertyValue<string>("coverDescription"),
			Url = hasLink ? coverLink.Url : "",
			Target = hasLink ? coverLink.Target : "",
			CtaName = hasLink ? coverLink.Name : ""
		})
	}
	@*
	@Html.CachedPartial("~/Views/Partials/Components/Breadcrumb.cshtml", Model, 3600, true)
	*@
	<main id="main" class="o-page__content" role="main">
		<div class="o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/HeadingFeature.cshtml", new HeadingViewModel {
				Headline = hasCover ? Model.GetPropertyValue<string>("headline") : Model.GetPropertyValue<string>("headline", Model.Name),
				Subtitle = Model.GetPropertyValue<string>("subheadline"),
				Level = !hasCover ? "h1" : "h2"
			})
			<div class="s-free-content u-clearfix">
				@Html.CachedPartial("Modules/PageComponents", Model, 3600, true)
			</div>
			@if (selection.Any()) {
				<div class="c-listing-card u-clearfix u-space-top--large">
					@foreach (var item in selection) {
						@Html.Partial("~/Views/Partials/Components/Card.cshtml", new CardViewModel {
							Headline = item.GetPropertyValue<string>("headline", item.Name),
							Url = item.Url,
							Image = item.GetPropertyValue<IPublishedContent>("featuredImage", TGDH.Settings<IPublishedContent>("defaultFeaturedImage")),
							Copy = item.GetPropertyValue<string>("pageDescription"),
							ModifierClass = "c-listing-card__item"
						})
					}
				</div>
			}
		</div>
	</main>
</div>
