@using iCAN;
@using iCAN.Core.Models;
@using RJP.MultiUrlPicker.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var covers = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("coverCarousel");
}

<main id="main" class="o-page__inner u-clearfix" role="main">
	@if (covers != null && covers.Any()) {
		<figure class="c-carousel c-carousel--contain">
    		<div class="c-carousel__inner js-carousel" data-nav="true" data-fade="true" data-dots="true" data-auto-play="true" data-speed="10000">
				@foreach (var item in covers) {
					var link = item.GetPropertyValue<Link>("coverLink");
					var hasLink = link != null;
					@Html.Partial("~/Views/Partials/Components/Cover.cshtml", new CoverViewModel {
						Image = item.GetPropertyValue<IPublishedContent>("coverImage"),
						Headline = item.GetPropertyValue<string>("coverHeadline"),
						HeadingLevel = "h2",
						Copy = item.GetPropertyValue<string>("coverDescription"),
						Url = hasLink ? link.Url : "",
						Target = hasLink ? link.Target : "",
						CtaName = hasLink ? link.Name : "",
					})
				}
			</div>
		</figure>
	}

	<section class="o-section t-home__about">
		<div class="o-wrap o-wrap--x-large u-clearfix">
			<div class="t-home__about__col t-home__about__col--first">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = Model.GetPropertyValue<string>("aboutHeadline"),
					Subtitle = Model.GetPropertyValue<string>("aboutSubHeadline"),
					Level = "h1"
				})
				@Html.Raw(Model.GetPropertyValue<string>("aboutDescription"))
			</div>
			<div class="t-home__about__col t-home__about__col--last">
				@{
					var aboutImages = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("AboutImages");
					if (aboutImages != null && aboutImages.Count() > 1) {
						@Html.Partial("~/Views/Partials/Components/ImageMozaic.cshtml", new ImageMozaicViewModel {
							ImageFirst = aboutImages.FirstOrDefault(),
							ImageSecond = aboutImages.Skip(1).FirstOrDefault(),
							ModifierClass="t-home__about__col__images"
						})
					}
				}

				@Html.Partial("~/Views/Partials/Components/Quote.cshtml", new QuoteViewModel {
					Quote = Html.Raw(Model.GetPropertyValue<string>("aboutQuote")),
					Source = Model.GetPropertyValue<string>("aboutQuoteSource"),
					Title = Model.GetPropertyValue<string>("aboutQuoteTitle"),
					ModifierClass="t-home__about__col__quote"
				})
			</div>
		</div>
	</section>
	@Html.CachedPartial("~/Views/Partials/Modules/LatestNews.cshtml", Model, 3600)
</main>
