@using iCAN.Core.ExtensionMethods
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = null;
    var pageScope = "s-" + Model.DocumentTypeAlias.ConvertToId();

	var coverCarousel = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("coverCarousel");
	var hasCarousel = coverCarousel != null && coverCarousel.Any();
	var hasCover = Model.GetPropertyValue<IPublishedContent>("coverImage") != null;

	var hasHero = hasCarousel || hasCover;

	var modifierClass = hasHero ? "t-has-hero js-has-hero" : "";
}

<!doctype html>
<html lang="en-GB" class="no-js no-enhance @pageScope @modifierClass">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        @Html.Partial("~/Views/Partials/Meta/SEO.cshtml")
		<link rel="stylesheet" href="/assets/css/style.ce70f9a6.css">
        <script src="/assets/js/head.4cf2d2da.js"></script>
		<link rel="stylesheet" href="https://use.typekit.net/mmc8vjo.css">
		<link rel="shortcut icon" href="/img/favicons/favicon-96x96.png" type="image/png">
		<link rel="manifest" href="/manifest.json" />
    </head>
    <body class="o-page">
		<a href="#main" class="c-button c-button--skiplink">Skip to main content</a>
        @Html.Partial("~/Views/Partials/Modules/Header.cshtml")
        @RenderBody()
		@Html.Partial("Modules/Footer")
        @Html.Partial("Meta/Analytics")
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
		<script src="/assets/js/main.0cd91df1.js"></script>
		@RenderSection("Scripts", required: false)
    </body>
</html>
