@using TGDH.Core.Models;
@inherits UmbracoViewPage<GalleryViewModel>
@{
    if (Model.Images == null)
    {
        return;
    }

	@* aspect ratio *@
    var hasRatio = !string.IsNullOrWhiteSpace(Model.AspectRatio);
    var aspectRatioClass = hasRatio ? "o-aspect--" + Model.AspectRatio.Replace(":", "-") : "";

	@* alignment *@
    var alignment = !string.IsNullOrWhiteSpace(Model.Alignment) ? Model.Alignment.ToLower() : "default";
    if (alignment == "full width")
    {
        alignment = "full";
    }
    var alignmentClass = "o-align--" + alignment;

	@* image *@
    var imageWidth = alignment != "default" ? Model.ImageWidth/2 : Model.ImageWidth;

	if( Model.Images.Count() == 1 ) {
		@Html.Partial("~/Views/Partials/Components/Image.cshtml", new ImageViewModel {
            Image = Model.Images.First(),
                Alignment = alignment,
                AspectRatio = Model.AspectRatio,
                ImageWidth = imageWidth
        })
		return;
	}

}

<figure class="c-carousel @aspectRatioClass @Model.ModifierClass">
    <div class="c-carousel__inner js-carousel">
	        @foreach (var media in Model.Images)
	        {
	            if (media != null)
	            {
	                if (media.DocumentTypeAlias == "Image")
	                {
	                    @RenderImage(media, Model.AspectRatio, imageWidth)
	                }

	                if (media.Descendants("Image").Any())
	                {
	                    foreach (var image in media.Descendants("Image"))
	                    {
	                        @RenderImage(image, Model.AspectRatio, imageWidth)
	                    }
	                }
	            }
	        }
		</div>
</figure>

@*
    Need to see if we can render the gallery without default height restrictions.
    Basically render autoheight gallery.
*@

@helper RenderImage(IPublishedContent image, string ratio, int imageWidth)
{
    var aspectRatio = string.IsNullOrEmpty(ratio) ? "4:3" : ratio;
    var imageUrl = image.Url + "?width=1200&upscale=false";
    var imageCropUrl = Url.GetCropUrl(image, cropAlias: aspectRatio, width: imageWidth, quality: 85, htmlEncode: false).ToString();

    var caption = image.GetPropertyValue<string>("caption");
    var altText = image.GetPropertyValue<string>("altText");

    <a href="@imageUrl" target="_blank" class="c-carousel__item">
        <img src="@imageCropUrl" class="c-carousel__image" alt="@altText"/>

        @if (!string.IsNullOrEmpty(caption))
        {
            <figcaption class="c-caption clearfix">
                @caption
            </figcaption>
        }
    </a>
}