@using iCAN.Core.Models;
@inherits UmbracoViewPage<QuoteViewModel>
@{
    var alignment = !string.IsNullOrWhiteSpace(Model.Alignment) ? Model.Alignment.ToLower() : "default";
    var alignmentClass = "o-align--" + alignment;

	var hasSource = !string.IsNullOrWhiteSpace(Model.Source);
	var hasTitle = !string.IsNullOrWhiteSpace(Model.Title);
}

@if (!string.IsNullOrEmpty(Model.Quote.ToString()))
{
    <blockquote class="c-quote @alignmentClass @Model.ModifierClass">
        <div class="c-quote__copy">
            @Model.Quote
        </div>

        @if (hasSource || hasTitle)
        {
            <footer class="c-quote__src">
				@if (hasSource && hasTitle) {
					<strong>@Model.Source,</strong>
				} else {
					<strong>@Model.Source</strong>
				}
				@if (hasTitle) {
					@Model.Title
				}
			</footer>
        }
    </blockquote>
}
